
<div class="table-responsive mt-5">          
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let expense of expenses; let i=index" >
      <tr>
        <td>{{i+1}}</td>
        <td>{{expense.name}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.description}}</td>
        <td>{{expense.amount}} </td>
        <td>{{expense.date | date: 'dd/MM/yyyy'}}</td>
        <td><button class="btn btn-success" [routerLink]="['/edit',expense.id]">Edit</button>
        | <button class="btn btn-warning" (click)="deleteExp(expense)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-around">
    <button class="btn btn-success" routerLink="/add">Add</button>
  </div>
  </div>

